<div class="mat-elevation-z8">
  <table aria-label="Elements" class="full-width-table" mat-table matSort>
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Id</th>
      <td *matCellDef="let row" mat-cell>{{row.id}}</td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
      <td *matCellDef="let row" mat-cell>{{row.descricao}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container cdkColumnDef="weight">
      <th *cdkHeaderCellDef cdk-header-cell> Weight</th>
      <td *cdkCellDef="let element" cdk-cell> {{element.weight}} </td>
    </ng-container>

    <ng-container matColumnDef="marca">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Marca</th>
      <td *matCellDef="let row" mat-cell>{{row.marca}}</td>
    </ng-container>

    <ng-container matColumnDef="fabricante">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Fabricante</th>
      <td *matCellDef="let row" mat-cell>{{row.fabricante}}</td>
    </ng-container>

    <tr *matHeaderRowDef="['name', 'marca', 'fabricante']" mat-header-row></tr>
    <tr *matRowDef="let row; columns: ['name', 'marca', 'fabricante'];" mat-row></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSizeOptions]="[25, 50, 100, 250]"
                 [pageSize]="50">
  </mat-paginator>
</div>
