<p>
  <a class="btn btn-primary" routerLink="/comp/product/new">Novo</a>
</p>
<p>
  <input #query (keyup)="filter(query.value)" class="form-control" placeholder="Buscar" type="text">
</p>
<table class="table">
  <thead>
  <tr>
    <th>Descrição</th>
    <th>Marca</th>
    <th>Embalagem de venda</th>
    <th>Peso da embalagem de venda</th>
    <th>Embalagem Master</th>
    <th>Editar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of filteredProducts">
    <td>{{p.description}}</td>
    <td>{{p.brand}}</td>
    <td>
      {{p.sellingPackage + "/" +
    p.amoutInsidePackage + "/" +
    p.typeOfUnitPackage}}
    </td>
    <td>{{p.weight}}</td>
    <td>{{p.masterAmount}}</td>
    <td>
      <a [routerLink]="['/comp/product/',p.id]">Editar</a>
    </td>
  </tr>
  </tbody>
</table>
